<h2>Reactive: Basics</h2>
<hr />

<div class="row">
  <div class="col-12">
    <form autocomplete="off" [formGroup]="basicsForm">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="product"
          />
          <span class="form-text text-danger">
            It must be a 3 characters value
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            formControlName="price"
          />
          <span class="form-text text-danger">
            It must be a price greater or equal than zero.
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Product existence</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product existence"
            formControlName="existence"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h3>Form value</h3>
<pre>{{ basicsForm.value | json }}</pre>
<br />

<h3>Valid</h3>
<pre>{{ basicsForm.valid }}</pre>
<br />
