<h2>Reactive Validations</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Name"
          />
          <span class="form-text text-danger" *ngIf="isInvalidField('name')">
            The format must be first name and last name.
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col sm-9">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          />
          <span class="form-text text-danger" *ngIf="isInvalidField('email')">
            It must be a valid email.
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username"
          />
          <span
            class="form-text text-danger"
            *ngIf="isInvalidField('username')"
          >
            It must be a valid username.
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
          <span
            class="form-text text-danger"
            *ngIf="isInvalidField('password')"
          >
            The password must be at least 6 characters long.
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm password</label>
        <div class="col sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password2"
            placeholder="Confirm password"
          />
          <span
            class="form-text text-danger"
            *ngIf="isInvalidField('password2')"
          >
            Both passwords must be the same.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h3>Form value</h3>
<pre>{{ registerForm.value | json }}</pre>
<br />

<h3>Valid</h3>
<pre>{{ registerForm.valid }}</pre>
<br />
