<h2>Reactive: Switches</h2>
<hr />

<form [formGroup]="switchesForm" (ngSubmit)="submit()">
  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          id="genderRadioMale"
          formControlName="gender"
        />
        <label class="form-check-label" for="genderRadioMale">Male</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          id="genderRadioFemale"
          formControlName="gender"
        />
        <label class="form-check-label" for="genderRadioFemale">Female</label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="showNotifications"
          formControlName="showNotifications"
        />
        <label class="form-check-label" for="showNotifications">
          Show notifications
        </label>
      </div>
    </div>
  </div>

  <!-- Checkboxes -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Terms</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="terms"
          formControlName="terms"
        />
        <label class="form-check-label" for="terms">
          I agree with the terms
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Submit</button>
    </div>
  </div>
</form>

<h3>Form value</h3>
<pre>{{ switchesForm.value | json }}</pre>
<br />

<h3>Valid</h3>
<pre>{{ switchesForm.valid | json }}</pre>
<br />

<h3>Person</h3>
<pre>{{ person | json }}</pre>
<br />
